{
    debug
    log
    http_port 8080
    auto_https off
}

:8080 {
    log {
        output stdout
        format json
        level info
    }

    handle_path /api/* {
        reverse_proxy {
            to localhost:3000

            lb_policy first
            lb_retries 3

            health_uri /
            health_interval 5s
            health_timeout 1m
            health_status 2xx
        }
    }

    handle_path /client/* {
        reverse_proxy {
            to localhost:5173

            lb_policy first
            lb_retries 3

            health_uri /
            health_interval 5s
            health_timeout 1m
            health_status 2xx
        }
    }
}
