{
    debug
    log
    http_port 8080
    auto_https off
}

:8080 {
    log {
        output stdout
        format json
        level info
    }

    handle_path /api/* {
        reverse_proxy 0.0.0.0:3000
    }

    handle_path /client/* {
        reverse_proxy 0.0.0.0:5173
    }

    handle /* {
        reverse_proxy 0.0.0.0:5173
    }
}
