{
    debug
    log
    http_port 8080
    auto_https off
}

:8080 {
    handle /api/* {
        reverse_proxy 0.0.0.0:3000
    }
    handle /client/* {
        reverse_proxy 0.0.0.0:5173
    }
    handle /* {
        reverse_proxy 0.0.0.0:5173
    }
}